# Sublime project file
*.sublime-project
*.sublime-workspace

# Python compiled files
*.pyc

# JPL DE430 ephemerids
de430.bsp

# Compiled files
*.so
*.so.0
*.o

# Build directories
build/
dist/
WesternMeteorPyLib.egg-info/

# Original metsim code
wmpl/MetSim/native