# Sublime project file
*.sublime-project
*.sublime-workspace

# Python compiled files
*.pyc

# JPL DE430 ephemerids
de430.bsp

# Compiled files
*.so
*.so.0
*.o

# Build directories
build/
dist/
*.egg-info/

# Original metsim code
wmpl/MetSim/native
# wmpl/share - files are downloaded during setup
wmpl/share/ShowerLookUpTable.npy
wmpl/share/streamfulldata.npy
wmpl/MetSim/MetSimErosionCyTools.c
.vscode/settings.json
