numpy < 2.0
cython
scipy
matplotlib
jplephem
pyephem
# https://github.com/matplotlib/basemap/archive/master.zip
PyQt5 ; platform_machine != 'aarch64'
pyyaml
pyswarms
ml-dtypes
keras
pytz
pandas
gitpython
numba
watchdog==3.0.0; python_version == '3.7'
watchdog; python_version >= '3.8'
paramiko
