numpy
cython
scipy
matplotlib==3.1.2 ; platform_machine != 'aarch64'
matplotlib==3.3.2 ; platform_machine == 'aarch64'
jplephem
pyephem
https://github.com/matplotlib/basemap/archive/master.zip ; sys_platform != 'win32' and platform_machine != 'aarch64'
basemap ; sys_platform == 'win32' or platform_machine == 'aarch64'
PyQt5 ; platform_machine != 'aarch64'
pyyaml
pyswarms
ml-dtypes
keras
pytz
pandas
cartopy
basemap-data-hires
gitpython
watchdog==3.0.0; python_version == '3.7'
watchdog; python_version >= '3.8'